@import "~view-design/dist/styles/iview.css";
@primary-color: #4dd6c4 ;

@processing-color       : @primary-color;

@selected-color         : fade(@primary-color, 90%);
@btn-group-border       : shade(@primary-color, 5%);

@btn-primary-color      : #4dd6c4;

@btn-primary-bg         : @primary-color;
@input-hover-border-color    : @primary-color;
@input-focus-border-color    : @primary-color;

body{
    
    font-family: 'Montserrat', sans-serif;
}
.m-0{ margin: 0 !important; }
.h-100{ min-height: 100%; }
.h-100vh{ min-height: 100vh; }
.w-100{ width: 100%; }
.d-flex{ display: flex; }
.d-inline{ display: inline-flex;}
.align-center{ align-items: center; }
.justify-center{ justify-content: center; }
.justify-around{ justify-content: space-around;}
.f-column{ flex-direction: column; }

h1.brand{
    font-size: 47px;
    font-weight: normal;
    color: #395753;
}
h1{ font-size: 40px; }
h2{ font-size: 30px; }
h3{ font-size: 25px; }
h4{ font-size: 22px; }
h5{ font-size: 20px; }
h6{ font-size: 18px; }
span{ font-size: 15px; }
p{ font-size: 12px; }
.f-bold{ font-weight: bold;}
.f-normal{ font-weight: normal;}
.f-light{ font-weight: lighter;}

.bg-primary{
    background-color: #4dd6c4;
}
.bg-white{
    background-color: #fff;
}
.bg-dark{
    background-color: #556570;
}
.primary-text{
    color: #4dd6c4;
}
.white-text{
    color: #fff  !important;;
}
.dark-text{
    color: #6c6c6c;
}
.dark-green-text{
    color: #395753;
}
.green-text{
    color: #24b4a1;
}
.darker-text{
    color: #556570;
}

.container{
    padding: 40px 25px; 
}

.logo{
    max-height: 48px;
    max-width: 48px;
    border-radius: 3px;
}

.ivu-card{
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.3);
}
.ivu-btn-primary{
    background-color: #4dd6c4;
    color: #fff;
    border-radius: 4px;
    border: none;
}
.ivu-btn-primary:hover{
    // border: 1px solid #4dd6c4;
    // color: #4dd6c4;
    background-color: #395753;
}

.info-btn{
    align-self: flex-end;
    margin-right: 15px;
    text-align: right;
}

.ivu-btn-ghost{

    border: 3px solid;
}

.header{
  padding: 18px 18px 8px;
  background-image: url("../img/head_curve.png");
  color: #fff;
  background-size: cover;
}
.content-wrapper{
  padding: 20px 15px;
}
#paymentScreen, #statScreen{
  background-image: url("../img/background_stats.png");
  background-size: cover;
  background-position: center;
}



//Responsive
@media screen and(min-width: 768px) {
    .main-wrapper{
        max-width: 500px;
    }
}