<template>
  <div class="h-100vh d-flex align-center f-column" id="mainScreen">
    
    <div class="logo-wrapper">
      <img src="../assets/logo.png" alt="" class="logo">
      <h1 class="brand">VOTEVITE</h1> 
     </div>

    <h2 class="question-header bg-primary w-100">Event</h2>



    <div class="main-wrapper">
      <Spin v-if="eventSpin" fix/>
      <div v-for="(event, i) in eventsList" :key="i" >
        <div class="event-wrapper" @click="selectedEvent(event)">
          <Card class="bg-primary white-text f-bold">
            <p v-html="event.title">CONCERT</p>
            <p v-html="event.eventDescription">asinn</p>
          </Card>
          <div class="event-img" >
            <img :src="event.coverPhoto" alt="">
          </div>
        </div>
      </div>
    </div>

    <div class="footer">
      <a href="https://votevite.com"> Who are we </a>
    </div>
  </div>
</template>

<script>
import * as firebase from 'firebase/app'
import {bus} from '../main'
import infoButton from '../components/infoButton.vue';
import {getEvents} from '../services/question';
import {getPayment} from '../services/payment'

export default {
  name: 'EventScreen',
  components: {
    infoButton,
  },
  data() {
    return {
      subtext: true,
      eventSpin: true,
      eventsList: []
    }
  },
  async mounted () {
    await getEvents((err, result) => {
      this.eventsList = result;
      this.eventSpin = false
    });

  },
  methods: {
    async selectedEvent(event){
      await this.$router.push({'name': 'MainScreen'})
      bus.$emit('eventSelected', event)
    },
    date(){
      this.eventsList.forEach(x => {
        x.dateTest = firebase.firestore.Timestamp.fromDate(new Date());
      })
    },
    
  },

}
</script>

<style lang="less" >

#mainScreen{
  background-image: url("../assets/img/background -1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 56px;
}
.question-header{
  padding: 14px;
  font-weight: normal;
  font-size: 24px;
  color: #fff;
}
.main-wrapper{
  padding: 27px;
  width: 100%;
  
  .ivu-card-body {
    padding-top: 15px;
    padding-bottom: 15px;
      p{
      margin: 0;
    }
  }

  .event-wrapper{
    margin: 10px auto;
    // max-width: 800px;
  }
  .event-img {
    padding: 10px 30px;
    img{
      margin: 5px;
      height: auto;
      max-width: 100%;
      max-height: 200px;
    }
  }
}
.bg-primary.white-text.f-bold.ivu-card.ivu-card-bordered{
  border: none;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(19,56,46,0.5);
  padding: 5px;
  a{
    color: #fff;
  }
}
</style>