<template>
  <div class="bg-img">
    <div class="container" id="infoScreen">
      <div class="logo-wrapper">
        <img src="../assets/logo.png" alt="" class="logo">
        <h1 class="brand white-text">VOTEVITE</h1> 
      </div>
      <h5>INFORMATION</h5>
      <div class="info-text">
        <p>
          (1) To ensure anonymous votes bulletin we don't keep any customer data:
        </p>
          <blockquote>
            <strong>Credit card </strong> 
            data is passed directly and securely to the payment processor and not known by VoteVite. Only the banks will record which Card bought a bulletin. Banks won't know what was printed on the bulletin nor from where ordered.
          </blockquote>
          <blockquote>
            <strong>Phone ID</strong>
            are not stored as they are tokenized with an unequivocal mathematical algorithm which insures only one vote may happen per phone while no token can be used to know which phone it was derived from.
          </blockquote>
          <blockquote>
            <strong>No email is needed</strong>
            as once paid the system automatically casts the anonymous physical bulletin in the ballot box and being anonymous no bulletin can be retrieved from it. Hence no payment may be reimbursed and no customer contact is needed in any post-process.
          </blockquote>
        <p>
          (2) By using the app customer are reminded of and explicitly agree with the policy of ordering only one bulletin per phone and per card with no reimbursement possibility given the anonymous nature of the product casted in a ballot box.</p>
        <p>
          (3) While part of the funds collected will help operate and develop the VoteVite platform and while a percentage will go to VAT in the country of the ballot box containing the physical bought products, a portion will go to fund the organization of the event. However, that portion will be limited to the amount of bulletins supporting the view of the organizers such that bulletins opposing the event won't financially contribute to it.
        </p>
      </div>
    </div>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="less" scoped>
.bg-img{
  background-image: url("../assets/img/background_person.png");
  background-size: cover;
  background-repeat: no-repeat;
}
#infoScreen{
  color: #fff;
  min-height: 100vh;
  background-color: rgba(85, 101, 112, 0.9);
  h5{ font-weight: 300; }
}
.info-text{
  text-align: left;
  font-size: 12px;
  margin-bottom: 5px;
  blockquote{
    margin: 15px 0 15px 20px;
  }
  p{
    margin: 15px 0;
  }
}

@media screen and (min-width: 1200px) {
  .info-text{
    max-width: 800px;
    margin: 0 auto;
  }
}
</style>
