<template>
  <div>
     <Spin size="large" fix v-if="loading"></Spin>
  </div> 
</template>

<script>
import {bus} from '../main'
import {encrypt} from '../services/decrypt';
import {getSession} from '../services/webSession.service';

export default {
    name: 'IOSsession',
    data() {
        return {
            loading: true,
            session: 'e1f53e8bc07aa66d2b475249d3782b2ae279efa2066e72b65fc294d82f7d709e',
            token: '',
            iosData: {}
        }
    },
    async mounted () {
        await this.getRoute();
    },
    methods: {
        getRoute() {

            if(this.$router.currentRoute.query.token){
                this.token = this.$router.currentRoute.query.token.toString()
            }
            this.getWebSessions();
            // this.loading = false
        },
        decrypt(){

        },
        async getWebSessions(){
            await getSession(this.token, (err, result)=>{
                if(err){
                    this.$router.push({'name': 'EventScreen'})
                } else if(result){
                    this.iosData = result
                    this.rerouteToVoting();
                } else if(!result){
                    this.$router.push({'name': 'EventScreen'})
                }
            })
        },
        async rerouteToVoting(){
            await this.$router.push({'name': 'MainScreen'})
            bus.$emit('iosData', this.iosData)
            bus.$emit('sessionID', this.token)
        }
    },
}
</script>

<style>

</style>