<template>
  <div class="h-100vh d-flex align-center justify-around f-column" id="mainScreen">
    <Button type="default" shape="circle" icon="ios-arrow-back" ghost @click="$router.push({'name': 'EventScreen'})"/>
    <div class="logo-wrapper">
      <img src="../assets/logo.png" alt="" class="logo">
      <h1 class="brand">VOTEVITE</h1> 
     </div>
    
      <h2 class="question-header bg-primary w-100" v-if="event">{{event.question}}</h2>

      <div class="main-wrapper d-flex f-column">
        
          <div class="document-icon-wrapper">
            <img src="../assets/img/img_bulletin.png" alt="">
          </div>
        <Card>
          
          <form name="redirectForm" method="POST"  :action="redirectionUrl" @submit="beforePayment">
            <input type="hidden" name="redirectionVersion" :value="redirectionVersion">
            <input type="hidden" name="redirectionData" :value="redirectionData">

            <ButtonGroup>
               <!-- @click="storePayment('no')" -->
              <button type="submit" @click="answer = 'no'" class="ivu-btn ivu-btn-primary ivu-btn-large"> 
                <span>
                  <img src="../assets/img/no.png" alt="no">
                  NON

                </span>
                
              </button>
               <!-- @click="storePayment('yes')" -->

              <button type="submit" @click="answer = 'yes'" class="ivu-btn ivu-btn-primary ivu-btn-large">
                <span>

                  <img src="../assets/img/yes.png" alt="yes">
                  OUI
                </span>
                
              </button> 
            </ButtonGroup>
            
          </form>
          <p class="f-bold">Bulletin unique pour 2.4€</p>
        </Card>

          <Button type="primary" icon="md-pie" long @click="goToStats">Vote Statistics</Button>

    </div>
    
    <infoButton :subtext="subtext"/>
    <Spin size="large" fix v-if="loading"></Spin>f
  </div>
</template>

<script>
import  {firebase} from "@firebase/app";
import "@firebase/firestore";
import {bus} from '../main'
import infoButton from '../components/infoButton.vue';
import {postVote} from '../services/question';
import {getPayment, postPayment, postWebSession, getLocation} from '../services/payment'
import { getEventID, postNewSession } from "../services/webSession.service";

export default {
  name: 'MainScreen',
  components: {
    infoButton,
  },
  data() {
    return {
      subtext: true,
      event: null,
      answer: null,
      loading: true,
      response: {},
      redirectionUrl: null,
      redirectionData: null,
      redirectionVersion: null,
      iosData: null,
      sessionId: '',
      currentData: {},
      webSession: null,
      location: null
    }
  },
  async mounted () {
    await this.getEvents();

    if(!this.event && !this.iosData){
      this.$router.push({'name': 'EventScreen'})
    }

    if(this.iosData){
      this.getEventData();
      if(this.sessionId){
        this.payment(this.sessionId)
      } else if (this.event){
        this.newWebSession()
      }
    }

    if(this.sessionId){
      this.payment(this.sessionId)
    } else if (this.event){
      this.newWebSession()
    }

  },
  methods: {
    getEvents(){
      bus.$on('eventSelected', (val) => {
        this.event = val
      });

      bus.$on('currentEvent', (val) => {
        this.event = val
      })

      bus.$on('iosData', (val) => {
        this.iosData = val
        bus.$on('sessionID', (val) => {
          this.sessionId = val
        })
      })
    },

    async goToStats() {
      await this.$router.push({'name': 'PreviewStats'})
      bus.$emit('currentEvent', this.event)
    },

    async goToPayment(ans){
      await this.$router.push({'name': 'Payment', query: { vote: ans }})
      bus.$emit('currentEvent', this.event)
    },

    getEventData(){
      getEventID(this.iosData.selectedEvent,
      (err, res)=>{
        this.event = res
      }); 
    },
    
    async newWebSession(){
      // this.getLocation();
      this.currentData = {
        createdAt: firebase.firestore.Timestamp.fromDate(new Date()),
        device: 'ios',
        selectedEvent: this.event.id,
        deviceLocation: 'loc_unknown'
      }

      // await getLocation().then(res=>{
      //   let datas = res.data.split('({"')[1]
      //   let data2 = datas.split('})')[0].split(',')

      //   // const final = data2.map(e => {
      //   //   const [key, value] = e.split(':')

      //   //   return {
      //   //     [`${key}`] : value
      //   //   }
      //   // })

      //   let newObj = {};
      //   for (const objKey in data2) {
      //     let [key, value] = data2[objKey].split('":"')
      //     let keys = key.substring(1)
      //     newObj = {
      //       ...newObj,
      //       [`${keys}`]: value
      //     };
      //   }
      //   this.currentData.deviceLocation = 'unknown'
      //   this.currentData.country = newObj.country_name.split('"')[0]
      //   this.currentData.city = newObj.city.split('"')[0]
        
      // }).catch(err=>{
      //   this.currentData.country_name = 'unknown'
      //   this.currentData.city = 'unknown'
      //   this.currentData.deviceLocation = 'unknown'
      // })

      await postNewSession(this.currentData, (err, res)=>{
        this.sessionId = res
        this.currentData = {...this.currentData, webSessionId: res}
        this.payment(this.sessionId)
      });
      console.log(1, this.currentData)
    },


    getEventData(){
      getEventID(this.iosData.selectedEvent,
      (err, res)=>{
        this.event = res
      }); 
    },
    
    async payment(data) {
      //establishing connection to mercanet
      console.log('this. session', data)
      const randomDate = Date.now() + Math.floor(Math.random() * 10)
      let myTimestamp = firebase.firestore.Timestamp.fromDate(new Date());
      let data0 = {transactionReference: randomDate, webSessionId: data}
      this.currentData = {...this.iosData, ...data0, myTimestamp, ...this.currentData}

      
      await getPayment(data0).then(res=>{
        this.response = res.data
        this.redirectionUrl = this.response.redirectionUrl
        this.redirectionData = this.response.redirectionData
        this.redirectionVersion = this.response.redirectionVersion
        this.loading = false
        
      }).catch(err=>{
        this.$Message.error('Payment error');
      })

    },
    
    beforePayment: function (e){
      this.loading = true
      this.currentData = { ...this.currentData, answer: this.answer, answerType: 'vote_vite'};
      if(this.answer){
        postWebSession(this.currentData).then(()=>{
          return true;
        }).catch(err=>{
          this.loading = false
          this.$Message.error('Something went wrong')
          e.preventDefault();
        })

      } else{
        this.loading = false
        this.$Message.error('Something went wrong')
        e.preventDefault();
      }
    }

  },
}
</script>


<style lang="less" >

#mainScreen{
  background-image: url("../assets/img/background -1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 56px;

  .ivu-btn-ghost{
    height: 39px;
    width: 39px;
    font-size: 23px;
    align-self: start;
    margin-left: 27px;
  }
}
.question-header{
  padding: 14px;
  font-weight: normal;
  font-size: 24px;
  color: #fff;
}
.main-wrapper{
  padding: 27px;

  .ivu-btn-long{
    margin-top: 25px;
    min-height: 50px;
    text-align: left;
    font-weight: bold;
    display: flex;
    align-items: center;
    
    .ivu-icon{
      font-size: 30px;
      margin-right: 30px;
    }
    span{
      display: flex;
      align-self: center;
    }
  }
  .document-icon-wrapper{
    width: 80px;
    text-align: center;
    align-self: center;
    display: flex;
    justify-content: center;
    background-color: #ffff;
    min-height: 60px;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    background-color: white;
    img{
      justify-content: center;
      max-width: 42px;
      display: flex;
      align-self: flex-end;
      margin-bottom: 8px;
    }
  }

  .ivu-card-body{
    padding: 30px 24px;
    p{
      margin: 10px 0 0 !important;
    }

    .ivu-btn-group > .ivu-btn{
      max-width: 50%;
      white-space: break-spaces;
      height: unset;
      padding: 15px;
      display: flex;
      // align-items: center;
      // justify-content: center;
      border-radius: 8px;
    

      span{
        font-size: 12px;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 73px;
        justify-content: center;
        margin: auto;
      }
      img{
        max-height: 37px;
      }
    }

    .ivu-btn-group{
      width: 100%;
    }
    .ivu-btn-group:not(.ivu-btn-group-vertical) > .ivu-btn:first-child:not(:last-child){
      border-right: 1px solid #fff;
      width: inherit;
    }
    .ivu-btn-group:not(.ivu-btn-group-vertical) > .ivu-btn:last-child:not(:first-child){
      border-left: 1px solid #fff;
      width: inherit;
    }
    input[type="submit"].payment-button{
      height: 100%;
      position: absolute;
      width: 100%;
      opacity: 0;
    }
  }
  // Button{
  //   margin: 0 0 44px 0;
  // }
}

@media screen and(min-width: 768px) {
  // .main-wrapper{
  //   max-width: 500px;
  // }
}
</style>