<template>
  <div id="paymentScreen" class="h-100vh">
    <div class="header">
      <!-- <h6>{{$route.query}}</h6> -->
      <h6>ORDER A UNIQUE BULLETIN</h6>
      <h6 class="f-normal">BY PAYING</h6>
      <div class="bill-wrapper d-flex justify-center align-center">
        <h1>$ 2.40</h1>
        <p class="white-text">20% VAT <br> Included</p>
      </div>
    </div>
    <div class="content-wrapper">
      <div class="card-provider-wrapper">
        <img src="../assets/img/visa.png" alt="visa">
        <img src="../assets/img/mastercard.png" alt="master">
      </div>
      <Form :model="formTop" label-position="top" id="payment-form">
          <FormItem label="Card Number" class="m-0">
              <Input v-model="formTop.cardNumber"/>
          </FormItem>
          
          <div class="d-inline">
            <FormItem label="Expiration Date">
                <Input v-model="formTop.exDate"/>
            </FormItem>
            <FormItem label="CVV" class="cvv">
                <Input v-model="formTop.cvv"/>
            </FormItem>
          </div>

          <FormItem label="Card Holder Name">
              <Input v-model="formTop.holderName"/>
          </FormItem>

          <p>This credit card cannot be used for another bulletin</p>
          <p>No reimbursement policy as anonymous bulletin cannot be retrieved.</p>
          <Button type="primary" long @click="payment(), loading = true">PAYMENT</Button>
          <Button type="text" ghost long @click="()=>(this.$router.push({'name': 'MainScreen'}))">LATER</Button>
      </Form>
      <infoButton/>
    </div>


    <Modal
        v-model="loadingModal"
        class-name="vertical-center-modal">
    </Modal>
        <Spin size="large" fix v-if="loading"></Spin>
  </div>
</template>

<script>
import {bus} from '../main'
import infoButton from '@/components/infoButton.vue';
import {postVote} from '../services/question';
import {getPayment, postPayment} from '../services/payment'

export default {
  components: {
    infoButton,
  },
  data() {
    return {
      formTop: {
          cardNumber: '',
          exDate: '',
          cvv: '',
          holderName: '',
      },
      response: {},
      loadingModal: false,
      loading: false,
    }
  },
  mounted () {
  },
  methods: {

    async payment() {
      //establishing connection to worldline
      await getPayment().then(res=>{
        // console.log('res', res.data)
        this.response = res.data
      }).catch(err=>{
        this.$Message.error('Payment successful');
        // console.log(err)
      })


      // sending the data
      if(this.response){
        // console.log('redirect',this.response.redirectionUrl)
        // window.location.replace(this.response.redirectionUrl, )
        let data = {
          redirectionVersion: this.response.redirectionVersion,
          redirectionData: this.response.redirectionData
        }
        postPayment(data).then(res => {
          // console.log('SUCCESS', res.data)
          this.loading = false
          this.$Message.success('Payment successful');
        }).catch(err =>{
          // console.log('er', err)
          this.loading = false
          this.$Message.error('Payment unsuccessful');
        })

      }
    }
  },

}
</script>

<style lang="less" >
 #paymentScreen{
   .header{
     padding: 44px 18px 18px;
   }
  .bill-wrapper{
    p{
      line-height: 1.2;
    }
  }
  .content-wrapper{
    padding-top: 40px;
  }
  .ivu-form{
    text-align: left;
    color: #556570;
    font-size: 17px;
    font-weight: bold;
  }
  .ivu-input{
    background-color: rgba(85, 101, 112, .17);
    height: 50px;
  }
  .cvv{
    padding-left: 15px;
    max-width: 40%;
  }
  p{
    text-align: center;
    font-weight: 300;
    color: #556570;
    font-size: 13px;
    margin: 12px 0;
  }
  .card-provider-wrapper{
    display: flex;
    align-items: center;
    justify-content: start;
    img{
      max-height: 72px;
    }
    img:first-child{
      max-height: 43px;
      margin-right: 10px;
    }
  } 
  #payment-form{
    .ivu-btn{
      height: 50px;
      span{
        font-size: 20px;
      }
    } 
    .ivu-btn-text{
      border: none !important;
      color: #556570;
    }
  }
}


@media screen and (min-width: 1024px){
  .content-wrapper{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto
  }
}
</style>