<template>
  <div class="h-100vh" id="statScreen">
    <div class="header d-flex f-column justify-center">
      <Button
        type="default"
        shape="circle"
        icon="ios-arrow-back"
        ghost
        @click="backButton()"
      />
      <div class="align-center">
        <img src="../assets/img/location_icon.png" alt="location-icon" />
        <h4>ORDER A BULLETIN</h4>
        <h5 class="f-normal">LET YOUR VOICE BE HEARD.</h5>
        <p>Note : This screen will be refreshed after 10 minutes.</p>
      </div>
    </div>

    <div id="graph-content" class="content-wrapper">
      <h2 class="green-text">VOTE STATISTICS</h2>
      <span class="dark-green-text">FIRST EVENT QUESTION?</span>

      <div class="total-wrapper green-text">
        <span>Total participants on site :</span>
        <span class="total f-bold" v-html="isInsideArea">0</span>
      </div>

      <div class="graph-container">
        <Card class="graph-wrapper">
          <Spin v-if="geoSpin" fix></Spin>
          <Graph v-if="chartTwoDisplay" :chartdata="chartdataTwo" />
          <p v-else-if="!chartTwoDisplay && !geoSpin">Something went wrong</p>
        </Card>

        <Card class="graph-wrapper">
          <Spin v-if="deviceSpin" fix></Spin>
          <Graph v-if="deviceChartDisplay" :chartdata="deviceChart" />
          <p v-else-if="!chartTwoDisplay && !geoSpin">Something went wrong</p>
        </Card>
      </div>
      <InfoButton class="infoButton" />
    </div>

    <Modal v-model="loadingModal" class-name="vertical-center-modal"> </Modal>
  </div>
</template>

<script>
import { bus } from "../main";
import Graph from "@/components/graph.js";
import InfoButton from "@/components/infoButton.vue";
import { getVotes } from "../services/question";

export default {
  components: {
    Graph,
    InfoButton,
  },
  data() {
    return {
      loadingModal: false,
      voteList: [],
      geoSpin: true,
      siteSpin: true,
      deviceSpin: true,
      deviceChartDisplay: false,
      isInsideArea: Number,
      notInsideArea: null,
      noVoteChartOne: [],
      yesVoteChartOne: [],
      chartdataTwo: {
        labels: [
          "Participants on site",
          "Others in France",
          "Others in the world",
          "Not geolocalized",
        ],
        datasets: [
          {
            label: "NO ",
            backgroundColor: "#4dd6c4",
            data: [],
          },

          {
            label: "YES",
            backgroundColor: "#BEF1EA",
            data: [],
          },
        ],
      },
      chartTwoDisplay: false,
      deviceChart: {
        labels: ["IOS voters", "Android voters"],
        datasets: [
          {
            label: "NO ",
            backgroundColor: "#4dd6c4",
            data: [],
          },

          {
            label: "YES",
            backgroundColor: "#BEF1EA",
            data: [],
          },
        ],
      },
      deviceSpin: true,
      deviceChartDisplay: false,

      // yesInFrance: null,
      // noInFrance: null,

      event: {},

      timestamp: "",
    };
  },
  async mounted() {
    await bus.$on("currentEvent", (val) => {
      this.event = val;
    });
    this.getAllVotes();

    // this.getNow();
  },
  methods: {
    async getAllVotes() {
      await getVotes(this.event, (err, result) => {
        this.voteList = result;
        this.populateLocalizedChart();
        this.populateDeviceChart();
      });
    },

    populateLocalizedChart() {
      let yes = this.voteList.filter((x) => x.answer === "yes");
      let no = this.voteList.filter((x) => x.answer === "no");

      let yesInFrance = yes.filter((x) => x.country === "France");
      let noInFrance = no.filter((x) => x.country === "France");

      // Populate data in particpants on site
      let yesInParticipantOnSite = yesInFrance.filter(
        (x) => x.deviceLocation === "loc_inside"
      )
      let noInParticipantOnSite= noInFrance.filter(
        (x) => x.deviceLocation === "loc_inside"
      )

      this.chartdataTwo.datasets[1].data[0] = yesInParticipantOnSite.length;
      this.chartdataTwo.datasets[0].data[0] = noInParticipantOnSite.length;
      this.isInsideArea = yesInParticipantOnSite.length + noInParticipantOnSite.length
      
      // Populate data in others in france
      this.chartdataTwo.datasets[1].data[1] = yesInFrance.filter(
        (x) => x.deviceLocation === "loc_outside"
      ).length;
      this.chartdataTwo.datasets[0].data[1] = noInFrance.filter(
        (x) => x.deviceLocation === "loc_outside"
      ).length;

      // Populate data in others in the world
      this.chartdataTwo.datasets[1].data[2] = yes.filter((x) => 
        x.country != "France" && x.deviceLocation === "loc_outside"
      ).length;
      this.chartdataTwo.datasets[0].data[2] = no.filter((x) => 
        x.country != "France" && x.deviceLocation === "loc_outside"
      ).length;

      // Populate data in not geolocalized
      this.chartdataTwo.datasets[1].data[3] = yes.filter(
        (x) => x.deviceLocation === "loc_unknown"
      ).length;
      this.chartdataTwo.datasets[0].data[3] = no.filter(
        (x) => x.deviceLocation === "loc_unknown"
      ).length;

      this.chartOneDisplay = true;
      this.siteSpin = false;
      (this.chartTwoDisplay = true), (this.geoSpin = false);
    },
    populateDeviceChart() {
      let votedYes = this.voteList.filter((x) => x.answer === "yes");
      let votedNo = this.voteList.filter((x) => x.answer === "no");

      let androidYes = votedYes.filter((x) => x.device === "android");
      let androidNo = votedNo.filter((x) => x.device === "android");
      let iosYes = votedYes.filter((x) => x.device === "ios");
      let iosNo = votedNo.filter((x) => x.device === "ios");

      this.deviceChart.datasets[1].data[1] = androidYes.length;
      this.deviceChart.datasets[0].data[1] = androidNo.length;
      this.deviceChart.datasets[1].data[0] = iosYes.length;
      this.deviceChart.datasets[0].data[0] = iosNo.length;

      this.deviceChartDisplay = true;
      this.deviceSpin = false;
    },

    async backButton() {
      await this.$router.push({ name: "MainScreen" });
      bus.$emit("currentEvent", this.event);
    },

    getNow() {
      const today = new Date();
      const date =
        today.getFullYear() +
        "-" +
        (today.getMonth() + 1) +
        "-" +
        today.getDate();
      const time =
        today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
      const dateTime = date + " " + time;
      this.timestamp = dateTime;
    },
  },
};
</script>

<style lang="less" scoped>
.header {
  .ivu-btn-ghost {
    height: 39px;
    width: 39px;
    font-size: 23px;
  }
  .align-center {
    margin-top: -15px;
  }
  img {
    max-height: 45px;
  }
}
#graph-content {
  .total-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    font-weight: 500;
    flex-wrap: wrap;
    .total {
      background-color: #fff;
      border-radius: 4px;
      padding: 0 15px;
    }
  }
  .infoButton {
    text-align: right;
  }
  .graph-wrapper {
    margin-bottom: 15px;
  }
}

//Responsive
@media screen and (min-width: 767px) {
  #graph-content {
    padding: 50px;
  }
  .graph-container {
    display: flex;
    flex-wrap: wrap;
  }
  .graph-wrapper {
    max-height: 800px;
    width: auto;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  // #graph-content{
  //   padding: 0 50px;
  // }
  .graph-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .graph-wrapper {
    max-height: 800px;
    max-width: 48%;
  }
}
</style>