<template>
  <div class="bg-img">
    <div class="container" id="infoScreen">
      <div class="logo-wrapper">
        <img src="../assets/logo.png" alt="" class="logo">
        <h1 class="brand white-text">VOTEVITE</h1> 
      </div>
      <h1 v-if="!loading"> {{this.paymentStatus}}</h1>
      <Spin v-if="loading" fix size="large"/>
    </div>
  </div>
</template>

<script>
import {bus} from '../main'
import {getSession, 
        storeSuccessPayment, 
        errStoringDonePayment,
        delSuccessPayment} from '../services/webSession.service';

export default {
  name: 'successRedirectionScreen',
  data() {
      return {
          loading: true,
          data: null,
          paymentStatus: 'Voting Failed!',
          webSession: null,
          webSessionId: null
      }
  },
  async mounted () {

    await bus.$on('successRouteData', (val) =>{
        this.data = val
    })
    
    if(!this.data){
      
      this.paymentStatus = 'Voting Failed!'
      this.loading = false
    } else if(this.data){
      
      this.responseCode();
    }
  },
  methods: {
      responseCode(){
        if(this.data.code == "00"){
          this.getWebSession();
        }else {
          this.paymentStatus = 'Voting Failed!'
          this.loading = false
        }
      },

      async getWebSession(){
        
        await getSession(this.data.webSessionId, (err, result)=>{
          
          
          if(err){
            this.failedAddingVote('webSessionDoesntExist')
            // this.loading = false
          } else if(result){
            this.webSession = result
            this.webSessionId = this.webSession.webSessionId
            this.storeVote();
          } else{
            this.failedAddingVote('webSessionDoesntExist')
            // this.loading = false
          }
        })
      },

      storeVote(){
        
        // ['createdAt', 'expiry'].forEach(e => delete this.webSession[e]);
        storeSuccessPayment(this.webSession, (err, result)=>{
          
          if(err){
            this.failedAddingVote('storeError')
          } else if(result){
            
            this.delSuccessAddingVote()
          }
        })
      },

      delSuccessAddingVote(){
        delSuccessPayment(this.webSessionId, (err, res)=>{
          this.paymentStatus = 'Voting Success!'
          this.loading = false
        })
      },

      failedAddingVote(res){
        let data
        if(res === 'storeError'){
          ['createdAt', 'selectedEvent'].forEach(e => delete this.webSession[e]);
          data = {
            ...this.webSession,
            errorResponse: res
          }
        } else {
          data = {
            errorResponse: res,
            ...this.data
          }
        }
        
        errStoringDonePayment(data, (err, result)=>{
          this.paymentStatus = 'Failed saving your vote. Your session does not exist.'
          this.loading = false
        })
      }

  }
}
</script>

<style lang="less" scoped>
.bg-img{
  background-image: url("../assets/img/background_person.png");
  background-size: cover;
  background-repeat: no-repeat;
}
#infoScreen{
  color: #fff;
  min-height: 100vh;
  background-color: rgba(85, 101, 112, 0.9);
  h5{ font-weight: 300; }
}
.info-text{
  text-align: left;
  font-size: 12px;
  margin-bottom: 5px;
  blockquote{
    margin: 15px 0 15px 20px;
  }
  p{
    margin: 15px 0;
  }
}

@media screen and (min-width: 1200px) {
  .info-text{
    max-width: 800px;
    margin: 0 auto;
  }
}
</style>
