<template>
  <div class="bg-img">
    <div class="container" id="infoScreen">
      <div class="logo-wrapper">
        <img src="../assets/logo.png" alt="" class="logo">
        <h1 class="brand white-text">VOTEVITE</h1> 
        <Spin v-if="loading" fix size="large"/>
      </div>
    </div>
  </div>
</template>

<script>
import {bus} from '../main'

export default {
  name: 'successScreen',
  data() {
      return {
          loading: true,
          data: ''
      }
  },
  async mounted () {
      await this.getRoute();
  },
  methods: {
      async getRoute() {
        this.data = this.$router.currentRoute.query

        await this.$router.push({'name': 'successRedirectionScreen'})
        bus.$emit('successRouteData', this.data)
      }
  }
}
</script>

<style lang="less" scoped>
.bg-img{
  background-image: url("../assets/img/background_person.png");
  background-size: cover;
  background-repeat: no-repeat;
}
#infoScreen{
  color: #fff;
  min-height: 100vh;
  background-color: rgba(85, 101, 112, 0.9);
  h5{ font-weight: 300; }
}
.info-text{
  text-align: left;
  font-size: 12px;
  margin-bottom: 5px;
  blockquote{
    margin: 15px 0 15px 20px;
  }
  p{
    margin: 15px 0;
  }
}

@media screen and (min-width: 1200px) {
  .info-text{
    max-width: 800px;
    margin: 0 auto;
  }
}
</style>
