<template>
    <div class="info-btn" >
        <span v-if="subtext">Ce téléphone ne peut commander qu'un bulletin. &nbsp; </span>
        <Button type="default" shape="circle" ghost icon="md-help" @click="()=>(this.$router.push({'name': 'Info'}))"></Button>
    </div>
</template>

<script>

export default {
  name: 'InfoButton',
  props: [
      'subtext'
  ],
  methods: {
      goToInfoPage() {
          
      }
  },
}
</script>

<style lang="less" scoped>
 .ivu-btn-ghost{
    height: 37px;
    width: 37px;
}

.ivu-btn > i, .ivu-btn > span{    
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    font-weight: bold !important;
}

span{
    font-size: 11px;
    color: #fff;
    margin-right: 15px;
}
</style>